*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}
html,body{
    height: 100%;
    width: 100%;
    display: flex   ;
    justify-content: center;
    align-items: center;    
    background: linear-gradient(to right, #ece9e6, #ffffff);
}
div.logo{
    width: 10.4rem;
    height: 3rem;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../Imagens/rsz_kisspng-logo-target-corporation-retail-brand-lexington-5bf69efd12c8967287940215428892130769.png');
}
.container-Style{
    width: 100%;
    height: 34rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.container-form{
    width: 35%;
    padding: 15px;
    margin: 15px auto;
    border-radius: 15px;
    height: 80%;
    background-color: #f8f7f6;
    box-shadow: 0 0 1rem 0.3rem rgb(31, 31, 31);
}
.container-form h2{
    text-align: center;
    font-size: 30pt;
}
label{
    display: block;
    padding-top: 15px;
}
input{
    display: block;
    width: 100%;
    margin-top: 5px;
    height: 31px;
    padding: 3px 10px;
    font-size: 11.5pt;
    outline: none;
    background-color: #f5f2ef;
    border: 0px solid black;
    border-bottom: 2px solid black;
    /* border-radius: 5px; */
}
input:focus{
   
    border: 0 solid black;
    border-bottom: 2px solid rgb(219, 11, 11);
    /* border-radius: 5px; */
}
form p{
    margin-top: 15px;
    font-size: 15px;
}
button{
    margin: 25px auto;
    display: block;
    height: 31px;
    width: 50%;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
}
button:hover{
    background-color: #e0dfdf;
}
button#ContinuarAcesso{
    background-color: #d1122c;
}
button#ContinuarAcesso:hover{
    background-color: #a80e22;
}
.barra{
    width: 100%;
    height: 1px;
    position: relative;
    background-color: #ccc;
}
.barra .centro{
   position: absolute;
    right: 36.8%;
    width: 170px;
    left: 33.8%;
    text-align: center;
    background-color: #f8f7f6;
   top: -9px;
   display: inline;
}
@media(max-width: 1000px){
    .container-form{
        width: 80%;
    }
    .barra .centro {
        right: 27.8%;
    }
}
